<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>template directory</h1>
    <H2>TEMPLATES DIRECTORY IS SPECIFICALLY USED TO STORE ONLY HTML FILES</H2>
    <H1>TYPES OF TEMPLATE DIRECTORIES</H1>
    <H3>GENERIC TEMPLATE DIRECTORY
        ,SPECIFIC TEMPLATE DIRECTORY
    </H3>
    <H1>GENERIC TEMPLATE DIRECTORY</H1>
    <H2>IF WE CREATE TEMPLATE DIRECTORY INSIDE MAIN PROJECT THAT TYPE OF TEMPLATES IS KNOWN AS GENERIC TEMPLATES</H2>
</body>
</html>